.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

/* Navbar */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  margin-left: 1rem;
}
.ai {
  color: #00bfff;
}

.userIconDiv {
  margin: 1rem;
}

.userIcon {
  background-color: #339cff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Chat Input */

.chatInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  width: 100%;
  position: relative;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0 10px 25px rgba(0, 0, 0, 0.25));
}

input {
  width: 100%;
  padding: 20px;
  border-radius: 28px;
  background-color: #2a2a2a;
  border: 1px solid #3a3a3a;
  color: #ffffff;
  font-size: 0.95rem;
  transition: all 0.2s ease;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

/* Placeholder */
input::placeholder {
  color: #9a9a9a;
}

/* Focus Effect */
input:focus {
  outline: none;
  border: 1px solid #565656;
  background-color: #303030;
}

#submit {
  position: absolute;
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: flex;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#submit i:hover {
  color: #00bfff;
}

.info {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #b4b4b4;
}

/* dropdown css */
.dropDown {
  position: absolute;
  top: 3rem;
  right: 1rem;
  background-color: #323232;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  width: 150px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.dropDownItem {
  padding: 0.5rem 0.2rem;
  font-size: 0.9rem;
  margin: 0.3rem 0rem;
  cursor: pointer;
}
.dropDownItem:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 6px;
}
